<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Angular BrushUp</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/home'" *ngIf="loginbtn"> Home </a>
            <a mat-button [routerLink]="'/login'" *ngIf="loginbtn"> Login </a>
            <a mat-button *ngIf="logoutbtn" (click)="logout()"> logout </a>
            <a mat-button [routerLink]="'/registration'" *ngIf="loginbtn"> Registration </a>
            <a mat-button [routerLink]="'/dashboard'" *ngIf="logoutbtn"> Dashboard </a>

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/home'" *ngIf="loginbtn"> Home </a>
            <a mat-list-item [routerLink]="'/login'" *ngIf="loginbtn"> Login </a>
            <a mat-list-item *ngIf="logoutbtn" (click)="logout()"> logout </a>
            <a mat-list-item [routerLink]="'/registration'" *ngIf="loginbtn"> Registration </a>
            <a mat-list-item [routerLink]="'/dashboard'" *ngIf="logoutbtn"> Dashboard </a>
            <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>